<p> Login </p>

<form action = "/login" method = "post" id = "login">
	<div>
		<label for = "user[name]">Username:</label>
		<input type = "text" name = "user[name]">
	</div>
	<div>
		<label for = "user[password]">Password:</label>
		<input type = "password" name = "user[password]">
	</div>
	<button type = "submit">Submit</button>
</form>
